<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenwen.mapper.BookingMapper" >

	<insert id="saveBookingData" parameterType="doraemon.gaoke.vo.BookingVo">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into booking
        (bookingDate,accountNum,address,memo,phone,activityName,activityId,createTime)
        values
        (#{bookingDate},#{accountNum},#{address},#{memo},#{phone},#{activityName},#{activityId},now())
    </insert>
    

	<select id="queryBookingSchedule" resultType="Map" parameterType="Map">
		select bookingDate, sum(accountNum) bookingCount , activityName,activityId, totalCount from booking
		where 1 = 1 
		  <if test="activityId != null and activityId != ''">
		  	and activityId = #{activityId}
		  </if>
		  <if test="activityName != null and activityName != ''">
		  	and activityName = #{activityName}
		  </if>
		  <if test="month != null and month != ''">
		  	and SUBSTR(bookingDate,1,7) = #{month}
		  </if>
		   <if test="bookingDate != null and bookingDate != ''">
		  	and bookingDate = #{bookingDate}
		  </if>
		group by bookingDate, activityId
	</select>
	
	    
	<select id="queryBookingByPhone" resultType="Map" parameterType="Map">
		select * from booking where phone=#{phone} 
	</select>
	 <!--
	<select id="getUserById" resultType="com.car.jl.vo.User" parameterType="Long">
		select * from user where id=#{id} and is_delete = 0
	</select>
	<select id="getUserByCode" resultType="com.car.jl.vo.User" parameterType="String">
		select * from user where invitation_code=#{code} and is_delete = 0
	</select>
	<insert id="saveUserMedia" parameterType="List">
		insert into user_media (user_id,url,type,cover,create_time) values
		<foreach item="item" collection="list" separator="," close=";"> 
        	(#{item.user_id},#{item.url},#{item.type},#{item.cover},now())   
        </foreach>
    </insert>
    <delete id="delUserMedia" parameterType="com.car.jl.vo.UserMedia">
    	delete from user_media where user_id=#{user_id} and url=#{url}
    </delete>
    <update id="updateIndustry" parameterType="com.car.jl.vo.User">
    	update user set industry=#{industry} where id=#{id}
    </update>
     <update id="updateUserQrcode" parameterType="com.car.jl.vo.User">
    	update user set qrcode_name=#{qrcode_name} where id=#{id}
    </update> -->
</mapper>